<a href="https://colab.research.google.com/github/Thippawan72/Pytron_dataviz2023/blob/main/Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Group Name

- ภูริศ เครือชารี 643020514-7 หน้าที่ เขียนโค้ด
- นรีกานต์ ปัญญารักษ์ 643020505-8 หน้าที่ ทำ Dashboard
- พรไพลิน วังสินธ์ุ 633020375-4 หน้าที่ ทำ Dashboard
- อาฤญช์ จรูญรักษ์ 643020528-6 หน้าที่ ทำ Dashboard
- ทิพย์วัลย์ สุโพธิ์ 643020062-6 หน้าที่ ทำ Dashboard
- หทัยชนก สรวงชัยภูมิ 643020525-2 หน้าที่ ทำ Dashboard

In [ ]:
#เชื่อม google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/Shareddrives')

!pwd #เช็ค path ที่กำลังทำงานอยู่

/content/drive/Shareddrives

In [ ]:
import pandas as pd
import os
os.chdir('/content/drive/Shareddrives/Exam')

In [ ]:

Tran_2019_2 = '/content/drive/Shareddrives/Exam/POS_transactions_20190213-20190226.csv'
Op_2019_2 =  '/content/drive/Shareddrives/Exam/POS_operator_logs_20190213-20190226.csv'

Tran_2019_3 = '/content/drive/Shareddrives/Exam/POS_transactions_20190328-20190410.csv'
Op_2019_3 ='/content/drive/Shareddrives/Exam/POS_operator_logs_20190328-20190410.csv'

# Read the CSV file into a DataFrame

df_T2019_2 = pd.read_csv(Tran_2019_2)
df_O2019_2 = pd.read_csv(Op_2019_2)
df_T2019_3 = pd.read_csv(Tran_2019_3)
df_O2019_3 = pd.read_csv(Op_2019_3)

#Month 2

In [ ]:
import pandas as pd

# Assuming 'df_T2019_3' is your DataFrame
df_T2019_2['PaymentMethod'] = 'other'  # Initialize the new column with a default value

# Set 'PaymentMethod' to 'cash' when 'TNcash' is True and 'TNcard' is False
df_T2019_2.loc[(df_T2019_2['TNcash'] == True) & (df_T2019_2['TNcard'] == False), 'PaymentMethod'] = 'cash'

# Set 'PaymentMethod' to 'card' when 'TNcash' is False and 'TNcard' is True
df_T2019_2.loc[(df_T2019_2['TNcash'] == False) & (df_T2019_2['TNcard'] == True), 'PaymentMethod'] = 'card'

In [ ]:

df_T2019_2['WorkstationGroupID'].replace({1: 'Service', 8: 'Selfservice'}, inplace=True)

In [ ]:
import pandas as pd

# Assuming 'df_T2019_3' is your DataFrame
# Convert 'BeginDateTime' and 'EndDateTime' columns to datetime objects
df_T2019_2['BeginDateTime'] = pd.to_datetime(df_T2019_3['BeginDateTime'])
df_T2019_2['EndDateTime'] = pd.to_datetime(df_T2019_3['EndDateTime'])

# Calculate the time difference in seconds and create a new column 'TimeDifference'
df_T2019_2['TimeDifference'] = (df_T2019_2['EndDateTime'] - df_T2019_2['BeginDateTime']).dt.total_seconds()

- Break time

In [ ]:

grouped_df11 = df_T2019_2.groupby('OperatorID')['BreakTime'].sum().reset_index()

# Rename the 'BreakTime' column to 'TotalBreakTime' in the grouped DataFrame
grouped_df1 = grouped_df11.rename(columns={'BreakTime': 'TotalBreakTime'})
grouped_df1

- Tran time

In [ ]:

grouped_df111 = df_T2019_2.groupby('OperatorID')['TranTime'].sum().reset_index()

# Rename the 'BreakTime' column to 'TotalBreakTime' in the grouped DataFrame
grouped_df11 = grouped_df111.rename(columns={'TranTime': 'TotalTranTime'})

- group Break and Tran

In [ ]:
merged_grouped_df111 = pd.merge(grouped_df1, grouped_df11, on='OperatorID', how='inner')

In [ ]:
merged_grouped_df1111 = pd.merge(grouped_df111, df_O2019_2, on='OperatorID', how='inner')

In [ ]:

translations = {
    'OperatorSignOn': 'เริ่มทํางาน',
    'OperatorSignOff': 'จบการทํางาน',
    'OperatorLock': 'พักงานชั่วคราว',
    'OperatorUnLock': 'กลับมาทํางานต่อหลังจากพัก'
}

merged_grouped_df1111['TranslatedItems'] = merged_grouped_df1111['Items'].replace(translations)
merged_grouped_df1111

,OperatorID,TranTime,WorkstationGroupID,WorkstationID,TranID,BeginDateTime,Items,TranslatedItems
0,10,0,1,7,190213106072,2019-02-13T07:01:57,OperatorSignOn,เริ่มทํางาน
1,10,0,1,7,190213106074,2019-02-13T07:02:16,OperatorSignOff,จบการทํางาน
2,10,0,1,8,190213106082,2019-02-13T10:32:12,OperatorSignOn,เริ่มทํางาน
3,10,0,1,8,190213106084,2019-02-13T10:32:15,OperatorSignOff,จบการทํางาน
4,10,0,1,7,1902131060717,2019-02-13T10:32:43,OperatorSignOn,เริ่มทํางาน
...,...,...,...,...,...,...,...,...
5207,606,24400,1,6,19022310606409,2019-02-23T17:32:11,OperatorSignOff,จบการทํางาน
5208,606,24400,1,6,19022310606411,2019-02-23T18:35:29,OperatorSignOn,เริ่มทํางาน
5209,606,24400,1,6,19022310606481,2019-02-23T19:29:15,OperatorSignOff,จบการทํางาน
5210,606,24400,1,6,19022310606483,2019-02-23T19:36:38,OperatorSignOn,เริ่มทํางาน
5211,606,24400,1,6,19022310606502,2019-02-23T19:46:27,OperatorSignOff,จบการทํางาน

In [ ]:
merged_grouped_df1111.to_csv('Break_Tran_2.csv', index=False)

- All

In [ ]:
df_T2019_2

,WorkstationGroupID,TranID,BeginDateTime,EndDateTime,OperatorID,TranTime,BreakTime,ArtNum,TNcash,TNcard,Amount,PaymentMethod,TimeDifference
0,Service,19022310606223,2019-04-03 13:28:17,2019-04-03 13:28:17,10,0,2,1,False,False,1.79,other,0.0
1,Service,190213106054,2019-03-29 14:04:50,2019-03-29 14:05:31,101,9,17,3,True,False,13.19,cash,41.0
2,Service,190213106055,2019-03-29 14:05:52,2019-03-29 14:06:35,101,21,209,6,True,False,21.20,cash,43.0
3,Service,190213106058,2019-03-29 14:07:19,2019-03-29 14:07:43,101,35,16,1,True,False,106.20,cash,24.0
4,Service,190213106059,2019-03-29 14:08:08,2019-03-29 14:09:44,101,6,17,1,True,False,106.20,cash,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47061,Service,19022310606490,2019-04-03 19:01:17,2019-04-03 19:02:07,606,34,38,8,False,True,26.45,card,50.0
47062,Service,19022310606494,2019-04-03 19:02:23,2019-04-03 19:02:31,606,19,11,3,False,True,14.97,card,8.0
47063,Service,19022310606496,2019-04-03 19:02:47,2019-04-03 19:03:49,606,27,36,6,False,True,55.34,card,62.0
47064,Service,19022310606499,2019-04-03 19:04:07,2019-04-03 19:04:34,606,25,22,11,True,False,47.42,cash,27.0
47065,Service,19022310606500,2019-04-03 19:04:51,2019-04-03 19:05:39,606,61,18,13,True,False,129.38,cash,48.0

In [ ]:
df_T2019_2.to_csv('New2019_2.csv', index=False)

#Month 3

In [ ]:
import pandas as pd

# Assuming 'df_T2019_3' is your DataFrame
df_T2019_3['PaymentMethod'] = 'other'  # Initialize the new column with a default value

# Set 'PaymentMethod' to 'cash' when 'TNcash' is True and 'TNcard' is False
df_T2019_3.loc[(df_T2019_3['TNcash'] == True) & (df_T2019_3['TNcard'] == False), 'PaymentMethod'] = 'cash'

# Set 'PaymentMethod' to 'card' when 'TNcash' is False and 'TNcard' is True
df_T2019_3.loc[(df_T2019_3['TNcash'] == False) & (df_T2019_3['TNcard'] == True), 'PaymentMethod'] = 'card'

In [ ]:

df_T2019_3['WorkstationGroupID'].replace({1: 'Service', 8: 'Selfservice'}, inplace=True)

In [ ]:
import pandas as pd

# Assuming 'df_T2019_3' is your DataFrame
# Convert 'BeginDateTime' and 'EndDateTime' columns to datetime objects
df_T2019_3['BeginDateTime'] = pd.to_datetime(df_T2019_3['BeginDateTime'])
df_T2019_3['EndDateTime'] = pd.to_datetime(df_T2019_3['EndDateTime'])

# Calculate the time difference in seconds and create a new column 'TimeDifference'
df_T2019_3['TimeDifference'] = (df_T2019_3['EndDateTime'] - df_T2019_3['BeginDateTime']).dt.total_seconds()

- Break time

In [ ]:

grouped_df22 = df_T2019_3.groupby('OperatorID')['BreakTime'].sum().reset_index()

# Rename the 'BreakTime' column to 'TotalBreakTime' in the grouped DataFrame
grouped_df2 = grouped_df22.rename(columns={'BreakTime': 'TotalBreakTime'})

- Tran time

In [ ]:

grouped_df222 = df_T2019_3.groupby('OperatorID')['TranTime'].sum().reset_index()

# Rename the 'BreakTime' column to 'TotalBreakTime' in the grouped DataFrame
grouped_df22 = grouped_df222.rename(columns={'TranTime': 'TotalTranTime'})

- group Break and Tran

In [ ]:
merged_grouped_df222 = pd.merge(grouped_df2, grouped_df22, on='OperatorID', how='inner')
merged_grouped_df222

In [ ]:
merged_grouped_df2222 = pd.merge(grouped_df222, df_O2019_3, on='OperatorID', how='inner')

In [ ]:

translations = {
    'OperatorSignOn': 'เริ่มทํางาน',
    'OperatorSignOff': 'จบการทํางาน',
    'OperatorLock': 'พักงานชั่วคราว',
    'OperatorUnLock': 'กลับมาทํางานต่อหลังจากพัก'
}

merged_grouped_df2222['TranslatedItems'] = merged_grouped_df2222['Items'].replace(translations)
merged_grouped_df2222

In [ ]:
merged_grouped_df2222.to_csv('Break_Tran_3.csv', index=False)

- all

In [ ]:
df_T2019_3

,WorkstationGroupID,TranID,BeginDateTime,EndDateTime,OperatorID,TranTime,BreakTime,ArtNum,TNcash,TNcard,Amount,PaymentMethod,TimeDifference
0,Service,1.904031e+13,2019-04-03 13:28:17,2019-04-03 13:28:17,10,0,1,1,False,False,11.99,other,0.0
1,Service,1.903291e+13,2019-03-29 14:04:50,2019-03-29 14:05:31,101,41,21,6,True,False,13.74,cash,41.0
2,Service,1.903291e+13,2019-03-29 14:05:52,2019-03-29 14:06:35,101,43,44,12,True,False,97.47,cash,43.0
3,Service,1.903291e+13,2019-03-29 14:07:19,2019-03-29 14:07:43,101,24,25,6,False,True,37.18,card,24.0
4,Service,1.903291e+13,2019-03-29 14:08:08,2019-03-29 14:09:44,101,96,18,48,True,False,154.70,cash,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49335,Service,1.904101e+14,2019-04-10 14:05:20,2019-04-10 14:06:14,606,54,25,7,True,False,12.14,cash,54.0
49336,Service,1.904101e+14,2019-04-10 14:06:39,2019-04-10 14:07:35,606,56,16,24,False,True,99.90,card,56.0
49337,Service,1.904101e+14,2019-04-10 14:07:51,2019-04-10 14:09:27,606,96,19,47,True,False,106.99,cash,96.0
49338,Service,1.904101e+14,2019-04-10 14:09:46,2019-04-10 14:10:03,606,17,26,4,True,False,30.88,cash,17.0
49339,Service,1.904101e+14,2019-04-10 14:10:29,2019-04-10 14:10:55,606,26,28,4,True,False,54.33,cash,26.0

In [ ]:
df_T2019_3.to_csv('New2019_3.csv', index=False)

# dash board

https://lookerstudio.google.com/reporting/7fcba68f-e285-40f4-9730-ecfc99ff7940